{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div align="center"><h1>Login</h1>

    <!--    {% if form.errors %}-->
    <!--    <p>{{ form.errors.error }}</p>-->
    <!--    {% endif %}-->
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            {{ form.username.errors }}
            {{ form.username.label_tag }} {{ form.username }}
        </div>
        &nbsp&nbsp
        <div class="form-row">
            {{ form.password.errors }}
            {{ form.password.label_tag }} {{ form.password }}
            <input type="hidden" name="next" value="{{ next }}">
        </div>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="errornote">
            {{ error }}
        </p>
        {% endfor %}
        {% endif %}
        &nbsp&nbsp
        <div class="form-row">
            <button type="submit" class="btn btn-success">submit</button>
        </div>
    </form>
    <a href="{% url 'password_reset' %}">Забыли пароль?</a>
</div>


{% endblock %}

