{% extends 'layout.html' %}


{% block title %}Registration form{% endblock %}


{% block body %} background="https://p0.zoon.ru/1/f/579ae87949d6af2d368b4570_5a3a15095dbc1.jpg"{% endblock %}
{% block content %}
    <div class="signup-form" align="center">
        <form action="{% url 'users:register' %}" method="post">
            {% csrf_token %}
            <h2>Sign Up</h2>
            <p>Please fill in this form to create an account!</p>
            <hr>
            <form method="POST" action="{% url 'users:register' %}">
                {% csrf_token %}
                <div class="form-group">
                    <h4>{{ form.username.label }}:</h4>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <h4>{{ form.first_name.label }}:</h4>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    <h4>{{ form.last_name.label }}:</h4>
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    <h4>{{ form.email.label }}:</h4>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <h4>{{ form.password1.label }}:</h4>
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    <h4>{{ form.password2.label }}:</h4>
                    {{ form.password2 }}
                </div>
                &nbsp&nbsp
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                </div>
                <b><font color="red">{{ form.errors }}</font></b>
            </form>
        </form>
    </div>
    <div class="hint-text" align="center">Already have an account? <a href="{% url 'users:login' %}">Login here</a></div>
{% endblock %}