{% extends 'layout.html' %}
{% load static %}
{% block content %}
{#    <link rel="stylesheet" type='text/css' href="{% static 'cart/css/cart.css' %}">#}
    <section class="gradient-custom">
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <br>
                <a class="btn btn-warning" href="{% url 'menu' %}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Назад
                </a>
                <br>
                <form id="form">
                    <table class="table">
                        <tr>
                            <th><h5>Items: <strong>{{ order.get_cart_items }}</strong></h5></th>
                            <th><h5>Total:<strong> ${{ order.get_cart_total|floatformat:2 }}</strong></h5></th>
                            <th>
                                <h5>
                                    <div id="customer-info">
                                        <div class="form-field">
                                            <input class="form-control" type="text" name="first_name" maxlength="150"
                                                   placeholder="Имя">
                                        </div>
                                        <div class="form-field">
                                            <input class="form-control" type="text" name="last_name" maxlength="150"
                                                   placeholder="Фамилия">
                                        </div>
                                    </div>
                                </h5>
                            </th>
                            <th>
                                <h5>
                                    <div id="table-info">
                                        <select class="form-control" name="table">
                                            {% for table in tables.all %}
                                                <option class="form-control" value="{{ table.id }}">
                                                    Название зала: {{ tables.hall }}
                                                    Номер стола: {{ tables.number }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </h5>
                            </th>
                            <th>
                                <input id="form-button" class="btn btn-success btn-block" type="submit"
                                       value="Подтвердить">
                            </th>
                        </tr>
                    </table>
                    <input name="total" value="{{ order.get_cart_total|floatformat:2 }}" type="hidden">
                </form>

            </div>

            <br>
            <div class="box-element">
                <div class="row">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Item</strong></div>
                    <div style="flex:1"><strong>Price</strong></div>
                    <div style="flex:1"><strong>Quantity</strong></div>
                    <div style="flex:1"><strong>Total</strong></div>
                </div>
                {% for item in items %}
                    <div class="row">imageURL.url
                        <div style="flex:2"><img class="row-image" src="{{ item.menu.img }}"></div>
                        <div style="flex:2"><p>{{ item.menu.title }}</p></div>
                        <div style="flex:1"><p>${{ item.menu.price|floatformat:2 }}</p></div>
                        <div style="flex:1">
                            <p class="quantity">{{ item.amount }}</p>
                            <div class="quantity">
                                <img data-product="{{ item.menu.id }}"
                                     style="width: 28px !important; height: 28px !important;" data-action="add"
                                     class="chg-quantity btn-primary update-cart"
                                     src="{% static  'images/arrow-up.png' %}">
                                <img data-product="{{ item.menu.id }}"
                                     style="width: 28px !important; height: 28px !important;" data-action="remove"
                                     class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                            </div>
                        </div>
                        <div style="flex:1"><p>${{ item.get_total|floatformat:2 }}</p></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </section>
    <script type="text/javascript" src="{% static 'cart/js/cart_confirm.js' %}"></script>
{% endblock content %}