{% extends 'layout.html' %}

{% block title %}Naked Chef - Вкусная еда всем!{% endblock %}

{% block content %}
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://avatars.mds.yandex.net/get-altay/1811309/2a0000016b426fbe3f6548a7883200c1297b/XXXL"
                     class="d-block w-100" alt="Naked Chef" height="896">
            </div>
            <div class="carousel-item">
                <img src="https://avatars.mds.yandex.net/get-altay/1970665/2a0000017384ce6d30c72da343d06f87d43a/XXXL"
                     class="d-block w-100" alt="Naked Chef" height="896">
            </div>
            <div class="carousel-item">
                <img src="https://avatars.mds.yandex.net/get-altay/5503221/2a0000017e9088b34118b3bc47904b51b38a/XXXL"
                     class="d-block w-100" alt="Naked Chef" height="896">
            </div>
            <div class="carousel-item">
                <img src="https://avatars.mds.yandex.net/get-altay/4667561/2a00000177ac4a26fe61be060dde576750e2/XXXL"
                     class="d-block w-100" alt="Naked Chef" height="896">
            </div>
            <div class="carousel-item">
                <img src="https://avatars.mds.yandex.net/get-altay/4412147/2a00000177ac4a22e1a43051cba782dc5ab5/XXXL"
                     class="d-block w-100" alt="Naked Chef" height="896">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock %}
