{% extends 'layout.html' %}
{% load humanize %}

{% block content %}
    <section>
        <div class="container pt-5">
            <div class="text-center mt-5">
                <h1>Заказ #{{ object.id }}</h1>
                <div class="orders mt-5">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Кол-во</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Сумма</th>
                        </tr>
                        </thead>
                        {% for o in orders %}
                            <tbody>

                            <tr>
                                <th scope="row">
                                    {{ o.menu.title }}
                                </th>
                                <td>{{ o.quantity }}</td>
                                <td>{{ o.menu.price|intcomma }} руб.</td>
                                <td>{{ o.sum|intcomma }} руб.</td>
                            </tr>

                            </tbody>
                            </table>
                            <p class="float-right h4 mt-3">Итого {{ o.sum|intcomma }} руб.</p>
                        {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}