{% extends 'layout.html' %}

{% block title %}Menu{% endblock %}

{% block content %}
<h1>Menu</h1>
<hr>
<div>
    {% for menu in menu_list %}
    <h2>{{ menu.section }}</h2>
    <div class="card" style="width: 18rem;">
        <img src="{{ menu.img }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ menu.title }}</h5>
            <p class="card-text">{{ menu.the_dish }}</p>
            <p class="card-text">{{ menu.weight }}</p>
            <p class="card-text">{{ menu.price }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {% endfor %}
</div>

<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-4">-->
<!--            <div class="form-group">-->
<!--                <h5>-->
<!--                    {{ menu.title }}-->
<!--                </h5>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <div class="form-group">-->
<!--                <h5>-->
<!--                    {{ menu.the_dish }}-->
<!--                </h5>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <div class="form-group">-->
<!--                <h5>-->
<!--                    {{ menu.weight }}-->
<!--                </h5>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <div class="form-group">-->
<!--                <h5>-->
<!--                    {{ menu.price }}-->
<!--                </h5>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


{% endblock %}