{% extends 'layout.html' %}

{% block title %}Order{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% for item in items %}
                <div class="box-element">
                    <br>
                    <br>
                    <form id="form-payed">
                        <input type="hidden" name="id_order" value="{{ order.id }}">
                        <table class="table">
                            <tr>
                                <th><h5>Numeration: <strong>{{ item.order.order_number }}</strong></h5></th>
                                <th><h5>Total:<strong> ${{ item.get_total }}</strong></h5></th>
                                <th>
                                    <h5>
                                        <div id="customer-info">
                                            <div class="form-field">
                                                <h3>{{ item.order.customer.first_name }}</h3>
                                            </div>
                                            <div class="form-field">
                                                <h3>{{ item.order.customer.last_name }}</h3>
                                            </div>
                                        </div>
                                    </h5>
                                </th>
                                <th>
                                    <h5>
                                        <div id="table-info">
                                            Название зала: {{ item.order.table.hall_id }}
                                            Номер стола: {{ item.order.table.place }}
                                        </div>
                                    </h5>

                                </th>
                                <th>
                                    <h5>
                                        <div id="status-info">
                                            Статус заказа: {{ item.order.status }}
                                        </div>
                                    </h5>
                                </th>
{#                                <th>#}
                                    {#                                    <input id="form-button-payed" class="btn btn-success" value="Оплатить">#}
{#                                    <div class="btn btn-light list-inline rating-list" id="rating">#}
{#                                        <i class="fa fa-star " title="Rate 5"></i>#}
{#                                        <i class="fa fa-star " title="Rate 4"></i>#}
{#                                        <i class="fa fa-star " title="Rate 3"></i>#}
{#                                        <i class="fa fa-star " title="Rate 2"></i>#}
{#                                        <i class="fa fa-star " title="Rate 1"></i>#}
{#                                    </div>#}
{#                                </th>#}
                            </tr>
                        </table>
                    </form>

                </div>

                <br>
                <div class="box-element">
                    <div class="row">
                        <tr>
                            <th>
                                <div style="flex:1" align="center"><strong>Item</strong></div>
                            </th>
                            <th>
                                <div style="flex:2" align="center"><strong>Image</strong></div>
                            </th>
                            <th>
                                <div style="flex:1" align="center"><strong>Price</strong></div>
                            </th>
                            <th>
                                <div style="flex:1" align="center"><strong>Quantity</strong></div>
                            </th>
                            <th>
                                <div style="flex:1" align="center"><strong>Total</strong></div>
                            </th>
                        </tr>
                    </div>

                </div>
                <div class="row">
                    <tr>
                        <th>
                            <div style="flex:1" align="center"><p>{{ item.menu.title }}</p></div>
                        </th>
                        <th>
                            <div style="flex:2"><img class="row-image" height="300" src="{{ item.menu.img }}"></div>
                        </th>
                        <th>
                            <div style="flex:1" align="center"><p>${{ item.menu.price }}</p></div>
                        </th>
                        <th>
                            <div style="flex:1" align="center"><p>{{ item.quantity }}</p></div>
                        </th>
                        <th>
                            <div style="flex:1" align="center"><p>${{ item.get_total }}</p></div>
                        </th>
                    </tr>
                </div>
                </div>
                </div>
            {% endfor %}
{% endblock %}
